$ls-border-color: #e2af24;
$ls-txt-color: rgba(0, 0, 0, .85);
.list {
  border-top: 3px solid $ls-border-color;
  color: $ls-txt-color;
  background: white;
  width: 40%;
  margin: 20px 0 22px 0;
  padding: 10px 32px;
  font-weight: 600;
}

$pixel10: 10px;
.list h3 {
  font-size: 16px;
  padding: $pixel10 0 $pixel10 - 2px;
}